
<script
src="https://code.jquery.com/jquery-3.3.1.min.js"
integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
crossorigin="anonymous"></script>
<div>
  <h3>
    Row Grouping
    
  </h3>
  <ngx-datatable
    #myTable
    class='material expandable'
    [rows]="rows"
    [groupRowsBy]="'age'"
    [columnMode]="'force'"
    [scrollbarH]="true"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="40"
    [limit]="4"
    [groupExpansionDefault]="true">
    <!-- Group Header Template -->
    <ngx-datatable-group-header [rowHeight]="50" #myGroupHeader >
      <ng-template let-group="group" let-expanded="expanded" ngx-datatable-group-header-template>
        <div style="padding-left:5px;">
          <a
            href="#"
            [class.datatable-icon-right]="!expanded"
            [class.datatable-icon-down]="expanded"
            title="Expand/Collapse Group"
            (click)="toggleExpandGroup(group)">
            <img src="{{imageDir}}assets/images/u658.png" style="background-color: blue" >
          </a>   
          <b>Age: {{group.value[0].age}}</b>                       
        </div>
      </ng-template>
    </ngx-datatable-group-header>
    <!-- Row Column Template -->
    <ngx-datatable-column name="Exp. Pay." prop="" editable="true" frozenLeft="True">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row" 
      let-group="group">
        <input 
          type="checkbox" 
          id="ep1{{rowIndex}}" 
          name="{{rowIndex}}" 
          value="0" >
        <label for="ep1{{rowIndex}}"></label>
      </ng-template>                    
    </ngx-datatable-column>

    <ngx-datatable-column name="Source" prop="source" editable="false" frozenLeft="True"></ngx-datatable-column>
    
  </ngx-datatable>
</div>